<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    
  </head>
  <body>
  	{{>nav}} <!-- Navigation -->

    <!--Header-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/signup.jpg');" data-stellar-background-ratio="0.5" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Create Information</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Register</span></p>
          </div>
        </div>
      </div>
    </section>
    <!--End Header -->

    <!--
    <-- Title -->
		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4"></h2>
          </div>
        </div>
    <!-- End Title -->
    
    <!-- Form --> 
    <div class="site-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-5 mb-5">
            <h3 class="mb-5">Input Information</h3>
            <form action="#" method="post" class="bg-white">
              
              <div class="">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                    <input type="fname" class="form-control" id="c_fname" name="c_fname">
                  </div>
                </div>                
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                    <input type="lname" class="form-control" id="c_lname" name="c_lname">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_phone" class="text-black">Phone Number <span class="text-danger">*</span></label>
                    <input type="" class="form-control" id="c_phone" name="c_phone">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="c_email" name="c_email">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_zip" class="text-black">Zipcode <span class="text-danger">*</span></label>
                    <input type="zipcode" class="form-control" id="c_zip" name="c_zip">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_regisdate" class="text-black">Registration Date <span class="text-danger">*</span></label>
                    <input type="registrationdate" class="form-control" id="c_regisdate" name="c_regisdate">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_emerfname" class="text-black">Emergency Contact First Name <span class="text-danger">*</span></label>
                    <input type="emergencyfname" class="form-control" id="c_emerfname" name="c_emerfname">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_emerlname" class="text-black">Emergency Contact Last Name <span class="text-danger">*</span></label>
                    <input type="emergencylname" class="form-control" id="c_emerlname" name="c_emerlname">
                  </div>
                </div>  
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_weight" class="text-black">Weight <span class="text-danger">*</span></label>
                    <input type="weight" class="form-control" id="c_weight" name="c_weight">
                  </div>
                </div>   
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_height" class="text-black">Height <span class="text-danger">*</span></label>
                    <input type="height" class="form-control" id="c_height" name="c_height">
                  </div>
                </div>     
                
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg" value="Register">
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
    
{{>footer}}

{{>scripts}}
    
  </body>
</html>